body{
    margin: -1;
    padding: -1;
    background-color: white;
    scroll-behavior: smooth;
}

#home{
    margin: -1 -1 0 -1;
    background-color: rgb(92, 42, 219);
    padding-top: 1cm;
    padding-bottom: 2cm;
    height: 60px;
}

#left{
    margin-top: -1;
    float: left;
    /* background-color: red; */
    padding-left:1cm;
}
#left h2{
    color: white;
    font-size: 26px;
}
h2:hover{
    
    text-decoration: underline;
}
.contact {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: white;
    display: flex;
    align-items: center;
}

.contact .icon {
    width: 20px; 
    height: 20px;
    margin-right: 8px; 
}

nav{
    float: right;
    padding-right: 2cm;
} 
nav button{
    color: white;
    background-color: rgb(92, 42, 219 );
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 15px;
} 
button:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}

/* About section */
#aboutInfo{
    display: grid;
    justify-content: center;
}
figure{
    float: left;
    justify-self: auto;
    width: 300px;
}
img{
    width: 300px;
}

fieldset{
    /* background-color: red; */
    padding:15px;
    margin: 15px;
    height: 300px;
    font-size: 30px;
    border: none;
}
#leg {
    font-size: 50px;
    font-weight: bolder;
    color:rgb(92, 42, 219 ) ;
}
#leg img{
    width: 50px;
}

#skills{
    width: 100%;
 /* background-color: red; */
}
#skillsInfo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
    justify-content: center;

}
#card{
    width: 250px ;
    height: 180px;
    /* background-color: red; */
    /* border: 2px solid black;*/
    border-radius: 10px; 
    display: grid;
    justify-content: center;
    padding: 5px;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
#card img{
    width: 50px;
    height: 50px;
    padding: 10px;
    margin: 5px 10px;
    justify-self: center;
}
#info{
    font-size: 15px;
    text-align: center;
}
#expr{
    font-size: 25px;
    text-align: center;
}

#projectsInfo{
    /* background-color: red; */
}

#pro{
    width: 100%;
    padding-left: 80px;
}
#pro h3{
    font-size: 30px;
}
#pro li{
    font-size: 20px;
    padding-left: 30px;
}
#role{
    font-size: 20px;
    padding-left: 50px;
}
#line{
    width: 70%;
    margin-left: 90px;
    border: 2px solid rgb(138, 136, 136);
    /* border-radius: 30%; */
    margin-bottom: 10px;
}

#recommendationsInfo{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 5px;
        padding: 5px;
        justify-content: center;
}

#review{
    width: 350px;
    height: 150px;
    font-size: 16px;
    text-align: center;
    border: 2px solid rgb(97, 97, 97);
    padding: 10px;
    border-radius: 10px;
    font-style: italic;
}

#giveReview{
    /* background-color: red; */
    display: grid;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}
#giveReview h3{
    font-size: 25px;
}
#giveReview input , textarea{
    font-size: 15px;
    padding: 5px;
    margin: 10px;
    width: 600px;
    border: 1px solid black;
    border-radius: 5px;
}
#giveReview button{
    border: 2px solid rgb(92, 42, 219 ); /* Purple border */
    background-color: white; /* Purple background */
    color: rgb(92, 42, 219 ); /* Text color */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    width: 200px;
    justify-self: center;
    border-radius: 5px;
}
#giveReview button:hover{
    background-color: rgb(92, 42, 219 ); /* Purple background */
    color: white;
}

.iconbtn{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgb(225, 235, 235);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 40px;
    right: 15px;
}
.iconbtn img{
    width: 30px;
}